#brand-image {
    height: 66px;
    width: auto;
    padding-top: 5px;
    top: -5px;
    padding: 0px;
    position: relative;
}
#navbar-buttons .btn-group {
    margin-right: 10px;
}
@media(max-width: $screen-sm-min) {
    #navbar-buttons .btn-group {
        margin-right: 0px;
    }
    .inner-box p {
        text-align: center;
    }
    .padded-row {
        padding: 30px 0px;
    }
    ul.nav.nav-tabs {
        margin-top: 50px;
    }
}
ul#navbar-buttons {
    text-align: center;
}
#homepage-header p#buttons a {
    background-color: #08b9e0;
}
img.fly.img-responsive.center-block.lazyloaded.show-block {
    height: 100px;
}
a.btn.btn-primary.navbar-btn {
    background-color: red;
    color: white;
    transition: all 100ms ease;
}
a.btn.btn-primary.navbar-btn:hover {
    background-color: #751d1d;
    color: white;
}
.footer-image {
    display: block;
    height: 100px;
    width: auto;
    transition: all 200ms ease;
    max-width: 100%;
}
.footer-logo:hover {
    opacity:.4;
}
a.btn.btn-support {
    background-color: #08bae1;
    color: white;
    border: 1px solid #565656;
    transition: all 200ms ease;
}
a.btn.btn-support:hover {
    background-color: #095465;
    color: white !important;
    border: 1px solid #565656;
    transition: all 200ms ease;
}
path.marker {
    fill: #04c0e3;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(5);
    transform-origin: 50% 50%;
    transition:.3s;
    z-index: 9999999;
    transform-box: fill-box;
    position: relative;
    opacity: 1;
}
path.marker:hover {
    fill: #04c0e3;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(8);
    transform-origin: 50% 50%;
    transition:.3s;
    z-index: 9999999;
    transform-box: fill-box;
    position: relative;
    opacity: 1;
}

path.marker.texas {
    animation: marker-animation 2s linear infinite;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
path.marker.uk {
    animation: marker-animation 2s linear infinite;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
path.marker.shanghai {
    animation: marker-animation 2s linear infinite;
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

@keyframes marker-animation {
    0% {
        transform: scale(5);
    }
    50% {
        transform: scale(8);
    }
    100% {
        transform: scale(5);
    }
}
.container-fluid {
    background-color: white;
}