<div id="jumbotron-caption">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
    data-src="/assets/images/content/ldc.svg" 
    class="fade-in-one img-responsive center-block lazyload" 
    alt="Connect Logo"/>
    <h2 class="fade-in-two">
        <span class="line">Linaro {{site.title}}</span>
    </h2>
    <h3 class="connect-date fade-in-three">
        <span class="line">
            Get access to the latest Arm Powered, server-class hardware
        </span>
        <br>
        <span class="line">
             running popular development environments such as 
        </span>
        <span class="line">
            Debian, CentOS, Ubuntu and RHEL.
        </span>
    </h3>
    <p id="buttons" class="text-center">
        <a href="/about/" class="btn btn-linaro-home fade-in-three" >Shop Now</a>
    </p>
</div>