<div class="row padded-row" id="dev-cloud-blocks">
    <div class="container  no-padding">
        <div class="col-sm-3 dev-cloud-usp">
            <h3 class="block-heading">Deploy</h3>
            <div class="inner-box">
                <p>
                    Deploy to our Arm-based clouds
                    in minutes and get building
                    your project today.
                </p>
            </div>
        </div>
        <div class="col-sm-3 dev-cloud-usp">
            <h3 class="block-heading">Arm64</h3>
            <div class="inner-box">
                <p>
                    Deploy your Arm based solutions on our
                    Arm64 based servers. Perfect for testing
                    Arm on Arm.
                </p>
            </div>
        </div>
        <div class="col-sm-3 dev-cloud-usp">
            <h3 class="block-heading">Expand</h3>
            <div class="inner-box">
                <p>
                    We support you with the expansion
                    of your projects. For current Developer Cloud users, if you need help
                    then raise a
                    <a href="https://servicedesk.linaro.org/servicedesk/customer/portal/11/create/89">support ticket</a>.
                </p>
            </div>
        </div>
        <div class="col-sm-3 dev-cloud-usp">
            <h3 class="block-heading">Custom</h3>
            <div class="inner-box">
                <p>
                    We can also help with your custom requirements.
                    Get in <a href="mailto:contactus@linaro.org">contact</a>
                    to find out more.
                </p>
            </div>
        </div>

    </div>
</div>
<!--About Linaro-->
<div class="row padded-row" id="about-linaro">
    <div class="container text-center">
        <img class=" lazyload img-responsive center-block" alt="Linaro Logo"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="/assets/images/content/linaro-logo.png"/>
        <p class="">
            Linaro’s mission is to lead collaboration in the Arm ecosystem by bringing together industry and the open
            source community to work on key projects, deliver great tools, reduce industry wide fragmentation and
            redundant effort, and provide common software foundations for all.
        </p>
    </div>
</div>
