{% if site.data.nav.universal-nav %}
{% include universal-nav.html %}
{% endif %}
{% assign page_base = page.url | split: "/" %}
{% assign current_page_url = page.url | replace: "index.html", "" %}
{% if current_page_url == "/" %}
{% assign current_page_url  = "do-no-set"%}
{% endif %}
<nav class="
{% if layout.nav-light %}
        nav-light
{% elsif page.nav-light %}
        nav-light
{% endif %}
navbar-inverse navbar-static" id="main-navigation">
    <!-- NAVBAR HEADER-->
    <div class="navbar-header">
        <a for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </a>
        {% if site.data.nav.brand %}
        <a class="navbar-brand " href="{{site.data.nav.brand.url}}">
            {% if site.data.nav.brand.image.enabled %}
            {% if site.data.nav.brand.image.svg %}
            {% include {{site.data.nav.brand.image.name}} %}
            {% elsif site.data.nav.brand.image.path %}
            <img src="{{ site.data.nav.brand.image.path }}"
                alt="{% if site.data.settings.name %}{{ site.data.settings.name }}{% else %}Linaro Site{% endif %} Logo."
                id="brand-image" />
            {% else %}
            {% include linaro-svg.html %}
            {% endif %}
            {% elsif site.data.nav.brand.text %}
            {{site.data.nav.brand.text}}
            {% else %}
            {{site.title}}
            {% endif %}
        </a>
        {% endif %}
    </div>
    <!-- NAVBAR COLLAPSE-->
    <div class="collapse navbar-collapse" id="navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right" id="navbar-buttons">
            <li>
                <div class="btn-group">
                    <a href="https://servicedesk.linaro.org/servicedesk/customer/portal/11" class="btn btn-primary navbar-btn support">Get Support</a>
                </div>
            </li>
            <li>
                <div class="btn-group">
                    <a href="https://servicedesk.linaro.org/plugins/servlet/loginfreeRedirMain?portalid=19&request=265" class="btn btn-primary navbar-btn request_access">Request Access</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
