<section class="pricing-table">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item fly active">
            <a class="nav-link" href="#china" role="tab" data-toggle="tab"><img src="/assets/images/content/china.png"
                    class="img-responsive center-block" alt="China category image">China </a>
        </li>
        <li class="nav-item fly ">
            <a class="nav-link" href="#uk" role="tab" data-toggle="tab"><img src="/assets/images/content/uk.png"
                    class="img-responsive center-block" alt="Uk category image">UK </a>
        </li>
        <li class="nav-item fly ">
            <a class="nav-link" href="#usa" role="tab" data-toggle="tab"><img src="/assets/images/content/usa.png"
                    class="img-responsive center-block" alt="Usa category image">USA </a>
        </li>
    </ul>
    <div class="tab-content">
        {% for location in site.data.locations %}
        <div role="tabpanel" class="tab-pane {% if location == "china" %}active{% endif %}" id="{{location}}">
            {% assign projects = site.data.projects | where: 'location', location %}
            <div class="row">
            {% for project in projects %}
                <div class="col-md-3 {{ project-type | downcase }} ">
                    <div class="item">
                        <div class="heading">
                            <h3>{{project.project-type}}</h3>
                            <p></p>
                        </div>
                        <div class="col-xs-12 attributes-row">
                            <div class="col-xs-4 block vCPU">
                                <span class="sub-text">vCPU</span><span class="main-text">{{project.vCPU}}</span>
                            </div>
                            <div class="col-xs-4 block memory">
                                <span class="sub-text">Memory</span><span class="main-text">{{project.memory}} GB</span>
                            </div>
                            <div class="col-xs-4 block storage">
                                <span class="sub-text">Storage</span><span class="main-text">{{project.storage}} GB</span>
                            </div>
                        </div>
                        <div class="col-xs-12 price">
                            <h4><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>{{project.price}}</span>
                                <small class="woocommerce-price-suffix">+ VAT (If Applicable) </small>
                                <span class="subscription-details"> / month</span></h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>